<div class="d-flex align-items-center">
  <h1>製品編集</h1>
  <div class="ml-auto product__linkBox">
    <!--<a href="/product" class="btn btn-outline-dark">製品一覧</a>-->
    <%= link_to '製品一覧', products_path, class:"btn btn-outline-primary" %>
  </div>
</div>
<%= render partial: 'part', locals: {product: @product }%>