<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto product__linkBox">
    <a href="/products" class="btn btn-outline-dark">一覧</a>
    <a href="/products" class="btn btn-outline-dark">編集</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4><%= @product.name%></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @product.price%></p>
    <p class="text-right font-weight-bold mr-10"><%= simple_format(@product.description)%></p>
  </div>
</div>